<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Product</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <% include partials/header-loggedin.ejs %>
    <div class="container">
        <h1>Update Product</h1>
        <form action="/admin/products/<%= product._id %>" method="POST">
            <label for="name">Product Name</label>
            <input type="text" name="name" required value="<%= product.name %>">

            <label for="category">Category</label>
            <input type="text" name="category" required value="<%= product.category.join(', ') %>">

            <label for="description">Description</label>
            <textarea name="description" rows="4"><%= product.description %></textarea>

            <label for="price">Price</label>
            <input type="number" name="price" step="0.01" required value="<%= product.price %>">

            <label for="quantity">Quantity</label>
            <input type="number" name="quantity" required value="<%= product.quantity %>">

            <label for="image_url">Image URL</label>
            <input type="text" name="image_url" value="<%= product.image_url %>">

            <button type="submit" class="btn-blue">Update Product</button>
        </form>
    </div>
    <% include partials/footer.ejs %>
</body>
</html>
